---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: linkding
  namespace: linkding
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: linkding
  template:
    metadata:
      labels:
        app: linkding
    spec:
      containers:
        - name: linkding
          image: docker.io/sissbruecker/linkding:1.45.0@sha256:61b2eb9eed8e5772a473fb7f1f8923e046cb8cbbeb50e88150afd5ff287d4060
          startupProbe:
            httpGet:
              path: /health
              port: 9090
            periodSeconds: 30
            failureThreshold: 10
          ports:
           - containerPort: 9090
          volumeMounts:
            - name: linkding
              mountPath: /etc/linkding/data
          envFrom:
            - configMapRef:
                name: linkding
            - secretRef:
                name: linkding
      volumes:
        - name: linkding
          persistentVolumeClaim:
            claimName: linkding
