---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: homepage
  namespace: homepage
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: homepage
  template:
    metadata:
      labels:
        app: homepage
    spec:
      containers:
        - name: homepage
          image: ghcr.io/gethomepage/homepage:v1.8.0@sha256:7dc099d5c6ec7fc945d858218565925b01ff8a60bcbfda990fc680a8b5cd0b6e
          startupProbe:
            httpGet:
              path: /api/healthcheck
              port: 3000
          ports:
            - name: web
              containerPort: 3000
          volumeMounts:
            - name: homepage
              mountPath: /app/config
          envFrom:
            - configMapRef:
                name: homepage
      volumes:
        - name: homepage
          persistentVolumeClaim:
            claimName: homepage
