---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: homepage
  namespace: homepage
spec:
  replicas: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: homepage
  template:
    metadata:
      labels:
        app: homepage
    spec:
      containers:
        - name: homepage
          image: ghcr.io/gethomepage/homepage:v1.1.1@sha256:7a6c4a35f16bd28cb0ef3cd7061bf4e574c5b29414c8169f02e5919b3f212455
          startupProbe:
            httpGet:
              path: /api/healthcheck
              port: 3000
          ports:
            - name: web
              containerPort: 3000
          volumeMounts:
            - name: homepage
              mountPath: /app/config
      volumes:
        - name: homepage
          persistentVolumeClaim:
            claimName: homepage
