---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: redis
  namespace: redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
        - name: redis
          image: docker.io/library/redis:7.4.7@sha256:976ab0f0939b78c06d802bcd3bea44c5142ea9a756a57b861e08819817f768c8
          command: ["redis-server", "/data/redis.conf"]
          volumeMounts:
            - name: redis-config
              mountPath: /data/redis.conf
              subPath: redis.conf
              readOnly: true
      volumes:
        - name: redis-config
          secret:
            secretName: redis-config
