APP_KEY=""
DB_CONNECTION="mysql"
DB_DATABASE="firefly"
DB_HOST="firefly-mariadb"
DB_PASSWORD=""
DB_PORT="3306"
DB_USERNAME=""
DEFAULT_LANGUAGE="en_US"
DEFAULT_LOCALE="it_IT"
TOKEN=""
TRUSTED_PROXIES="**"
TZ=""
