---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: homeassistant
  namespace: homeassistant
spec:
  replicas: 1
  selector:
    matchLabels:
      app: homeassistant
  template:
    metadata:
      labels:
        app: homeassistant
    spec:
      containers:
        - name: homeassistant
          image: docker.io/linuxserver/homeassistant:2025.12.5@sha256:c87cd2a447e23b63128fba38a04520f5d1316262b28d97a647cd24eb884b61f5
          startupProbe:
            httpGet:
              path: /manifest.json
              port: 8123
            periodSeconds: 30
            failureThreshold: 10
          ports:
            - name: web
              containerPort: 8123
          volumeMounts:
            - name: homeassistant
              mountPath: /config
      volumes:
        - name: homeassistant
          persistentVolumeClaim:
            claimName: homeassistant
